:root {
  --primary-color-light: hsla(222, 51%, 90%, .5);
  --primary-color: #D7DFF2;
  --primary-color-dark: #8aabf9;
  --primary-color-darker: #215266;

  --secondary-color-light: hsl(30, 100%, 72%, .5);
  --secondary-color: #FFB66E;
  --secondary-color-dark: #F5AB61;

  --neutral-color-light: hsl(0, 0%, 100%);
  --neutral-color: hsl(0, 0%, 83%);
  --neutral-color-dark: hsl(0, 0%, 0%);

  --base-font: "Abel", sans-serif;
  --accent-font: "Bebas Neue", cursive;
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* General */
html {
  scroll-behavior: smooth;
}

p {
  font-family: var(--base-font);
}

.btn {
  background-color: var(--secondary-color);
  padding: .5rem 3rem;
  border-radius: 10%/50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  margin-right: 2rem;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color-light);
}

.logo {
    width: 100px;
}

.nav-link, 
.dropdown {
    color: var(--primary-color-darker);
    font-family: var(--base-font);
}

.nav-link:hover, 
.dropdown:hover {
  text-decoration: underline;
}

.dropdown-item:hover {
  background-color: var(--primary-color-light);
  color: var(--primary-color-darker);
}

/* Hero */
.hero-wrapper {
  background-color: var(--primary-color);
  margin-top: 7.8rem;
  border-top: 3px solid var(--neutral-color-dark);
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font);
  margin-top: 3rem;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50%);
  animation: fade-in-right 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 991px) {
  .hero-text h1 {
    font-size: 3rem;
  }
}

/* Our Mission and Services */
.mission-services-wrapper {
  background-color: var(--secondary-color-light);
}

h2 {
  font-size: 6rem;
  line-height: 1.2;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font);
}

.imp-text {
  color: var(--primary-color-darker);
}

h3 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  max-width: 20ch;
  font-family: var(--accent-font);
}

.icons {
  width: 200px;
}

@media (min-width: 992px) {
  .service-one,
  .service-three {
  margin-top: 10rem;
  }
}

.services-title {
font-family: var(--base-font);
}

/* Team */
h4 {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  max-width: 20ch;
  font-family: var(--accent-font);
}

.team-wrapper {
  background-color: var(--primary-color);
}

.portrait {
  border-radius: 50%;
  width: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

/* Footer */
footer {
  background-color: var(--primary-color-dark);
  border-top: 3px solid var(--neutral-color-dark);
}

h6 {
  font-size: 2rem;
  font-family: var(--accent-font);
}

footer li {
  list-style: none;
  font-family: var(--base-font);
}

footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer li a {
  color: var(--neutral-color-dark);
  text-decoration: none;
}

.copywrite {
  font-family: var(--base-font);
  font-size: .8rem;
}

.fa-brands {
  cursor: pointer;
}

.socials a {
  color: var(--secondary-color);
}

.socials a:hover {
  color: var(--secondary-color-dark);
}

@media (min-width: 992px) {
  .footer-nav {
    padding-top: 3rem;
  }
}

.footer-nav {
  padding-bottom: 1.5rem;
}

/* About Us */
.story-wrapper {
  margin-top: 7.8rem;
  border-top: 3px solid var(--neutral-color-dark);
  background-image: linear-gradient(to top, var(--secondary-color-light), var(--primary-color-light));
}

.about-us-img {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


/* Contact Us */
.contact-us {
  margin-top: 7.8rem;
  padding-bottom: 5rem;
  border-top: 3px solid var(--neutral-color-dark);
  background-image: linear-gradient(to top, var(--secondary-color-light), var(--primary-color-light));
}


@media (max-width: 991px) {
  .form-container {
    max-width: 30rem;
  }
}

@media (min-width: 992px) {
  .phone-email-container {
    margin-right: 10rem;
  }
}

input,
select {
  border: none;
  border-bottom: 1px solid var(--neutral-color-dark);
  background-color: transparent;
}

textarea {
  background-color: transparent;
  border: 1px solid var(--neutral-color-dark);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.submit-btn {
  background-color: var(--secondary-color);
  padding: .5rem 3rem;
  border-radius: 10%/50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  width: 10rem;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: var(--secondary-color-dark);
}

/* Careers */
.join-team-container {
  border-top: 3px solid var(--neutral-color-dark);
  background-image: linear-gradient(to top, var(--secondary-color-light), var(--primary-color-light));
  margin-top: 7.8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.careers-btn {
  background-color: var(--secondary-color);
  padding: .5rem 3rem;
  border-radius: 10%/50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  width: 12rem;
  margin-top: 1rem;
}

.careers-btn:hover {
  background-color: var(--secondary-color-dark);
}

.team-img-container {
  padding-right: -20px;
}