*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

p {
    font-family: "Abel";
}

.navbar {
    background-color: hsl(222, 51%, 90%, .5);
}

.logo {
    width: 100px;
    height: 100px;
}

.hero {
    background-color: #D7DFF2;
    height: 32.5rem;
    margin-top: 7.8rem;
    border-top: 3px solid black;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    max-width: 20ch;
    font-family: "Bebas Neue";
}

@media (max-width: 991px) {
  .hero-text h1 {
    font-size: 3rem;
  }
}


.hero button {
  background-color: #FFB66E;
  padding: .5rem 3rem;
  border-radius: 10%/50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
}

.hero button:hover {
    background-color: #F5AB61;
}

@media screen and (max-width: 991px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero-text p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  h1 {
    margin-top: 3rem;
  }

  .fade-in-right {
    width: 400px;
    height: 400px;
  }
  
  .hero {
    height: 46.5rem;
  }

  .pic {
    max-width: 30rem;
  }
}

h2 {
    font-size: 6rem;
    line-height: 1.2;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    max-width: 20ch;
    font-family: "Bebas Neue";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mission-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .mission-heading-top {
    text-align: left;
  }
  
  .mission-heading-bottom {
    text-align: right;
  }

h3 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    max-width: 20ch;
    font-family: "Bebas Neue";
}

h4 {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    max-width: 20ch;
    font-family: "Bebas Neue";
}

.team {
    background-color: #D7DFF2;
}

.imp-text {
    color: #215266;
}

.icons {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #8aabf9;
    border-top: 3px solid black;
}

@media (min-width: 992px) {
    footer {
    padding: 3rem 0 1rem 0;
  }
}

@media (max-width: 992px) {
  footer {
  padding: 3rem 0 1rem 0;
}
}

.nav-link, 
.dropdown {
    color: #215266;
    font-weight: 600;
    font-family: "Abel";
}

.nav-link:hover, 
.dropdown:hover {
  text-decoration: underline;
}

.our-mission {
  padding-top: 5rem;
  background-color: hsl(30, 100%, 72%, .5);
}

.mission {
  max-width: 45ch;
  
}

@media (min-width: 992px) {
    .service-one,
    .service-three {
    margin-top: 10rem;
  }

  .services-title {
    padding-left: 8rem;
  }
}



.services-title {
  margin-left: 6rem;
  font-size: 2.5rem;
  font-family: "Abel";
}

.services-btn {
  margin-top: 1rem;
}

.portrait {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

h6 {
  font-size: 2rem;
  font-family: "Bebas Neue";
}
footer li {
  list-style: none;
  font-family: "Abel";
}

footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.copywrite {
  font-family: "Abel";
  font-size: .8rem;
}

.our-services {
  background-color: hsl(30, 100%, 72%, .5);
}

.services {
  background-color: hsl(30, 100%, 72%, .5);
}

.btn-container {
  background-color: hsl(30, 100%, 72%, .5);
}

.btn {
  background-color: #FFB66E;
  padding: .5rem 3rem;
  border-radius: 10%/50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  margin-right: 2rem;
}

.btn:hover {
  background-color: #F5AB61;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50%);
  animation: fade-in-right 2s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

.company {
  margin-left: 3rem;
}

.pic {
  max-width: 100%; 
  height: auto;
}

@media (max-width: 576px) {
  .fade-in-right {
    max-height: 22rem;
  }
}